.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .container-fluid-home-h1{
    background-color: #eeb9f1;
  }
  
  .card {
    width: 500px;
    margin: 10px;
    text-align: center;
    background-color: #dda4d4;
  }

  .card img{
    width: 105%;
  }


  .card-body{
    background-color: #e18fd3;
    margin: -12px;
  }

  .card-body ul,
.card-body ul li {
  list-style: none;
  margin: 0;
  padding: 0;

}

footer ul li{
  list-style: none;
  margin: 0;
  padding: 0;
}
  
  @media (max-width: 768px) {
    .card {
      width: 100%;
    }
  }
  

  /* Estilos para la barra de navegación */
  .navbar {
    border-bottom: 1px solid #e9ecef;
    transform-style: preserve-3d;
    perspective: 1000px;
  }

.container {
  display: flex;
  justify-content:space-around;
}

.navbar-brand {
  font-weight: bold;
  color: #6b849d;
}

.navbar-toggler {
  border: none;
  outline: none;
}


.nav-link {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #ec9af2 !important;
  font-size: 2.25rem;
  font-weight: bold;
  transition: all 0.3s ease;
  text-shadow: 2px 2px 4px rgba(26, 26, 26, 0.5);
  -webkit-text-stroke: 1px rgb(220, 7, 7); 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}
.scrollable-text {
  max-height: 190px; /* Ajusta esta altura según tus necesidades */
  overflow-y: auto;
  text-align: justify;
}


.nav-link:hover {
  color: #ffffff;
  background-color: #dfe8a9;
  border-radius: 5px;
  transform: translateZ(10px);
}



.form-control {
  border-color: hsl(210, 14%, 83%);
}

.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:hover {
  color: #fff !important;
  background-color: #28a745;
  border-color: #28a745;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .navbar-collapse {
    background-color: #faf8fa;
    border-top: 1px solid #e081d1;
    padding-top: 10px;
  }
}
